<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dr. D's Writing Center</title>
    <link href="https://fonts.googleapis.com/css?family=PT+Serif" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Shadows+Into+Light" rel="stylesheet">
 

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-default">
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
                <h3 class="center">Dr. D's Writing Center</h3>

            </div>
            <div class="container">
                
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Index", "Index", "Home")</li>
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Your Assignment", "Assignment", "Home")</li>
                        <li>@Html.ActionLink("Writing Process", "WritingProcess", "Home")</li>
                        <li>@Html.ActionLink("Format", "MlaVsApa", "Home")</li>
                        <li>@Html.ActionLink("Introduction", "Introduction", "Home")</li>
                        <li>@Html.ActionLink("Thesis", "Thesis", "Home") </li>
                        <li>@Html.ActionLink("Body", "BodyParagraph", "Home")</li>
                        <li>@Html.ActionLink("Conclusion", "Conclusion", "Home")</li>

                        
                          
                                   
                                </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
